<h1>Issues#index</h1>

<table id="issues" border=2 class="ui celled table">
	<thead>
		<th>issue_id</th>
		<th>category</th>
		<th>title</th>
		<th>description</th>
		<th>priority</th>
		<th>severity</th>
		<th>status</th>
		<th>entry_date</th>
		<th>creator_id</th>
		<th>assignee_id</th>
		<th>Actions</th>

	</thead>
	<tbody>
		<% @issues.each do |i| %>
			<tr>
			<td><%=i.id%></td>
			<td><%=i.issue_category%></td>
			<td><%=i.title%></td>
			<td><%=i.description%></td>
			<td><%=i.priority%></td>
			<td><%=i.severity%></td>
			<td><%=i.status%></td>
			<td><%=i.entry_date%></td>
			<td><%=i.creator_id%></td>
			<td><%=i.assignee_id%></td>
			<td>

			<% if can? :view, p%>
  					<%= link_to "view", i %> &nbsp 
			<% end %>
			<% if can? :edit, p%>
  				    <%= link_to "edit", edit_issue_path(i) %>&nbsp 
			<% end %>
			<% if can? :destroy, p%>
  					 <%=link_to 'delete', i, method: :delete, data: { confirm: 'record will be deleted.Are you sure?' }%>
			<% end %>
			</td>
			</tr>
		<%end%>
	</tbody>
</table>


<%= link_to "new_issue", new_issue_path %>



<script>
	$(document).ready(function(){
		 $("#issues").dataTable()
	});
</script>