<h1>Issues#show</h1>


issue_id : <%=@issue.id%><br>
issue_category : <%=@issue.issue_category%><br>
title : <%=@issue.title%><br>
description : <%=@issue.description%><br>
priority : <%=@issue.priority%><br>
severity : <%=@issue.severity%><br>
status : <%=@issue.status%><br>
entry_date : <%=@issue.entry_date%><br>
creator_id : <%=@issue.creator_id%><br>
assignee_id : <%=@issue.assignee_id%><br>


<%= link_to 'back',issues_path%>
