


<%= form_for(@task) do |f| %>
  
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%=f.label :name%>
  	<%=f.text_field :name%>
  </div>

  <div class="field">
  	<%=f.label :startdate%>
  	<%=f.date_select :startdate%>
  </div>

  <div class="field">
  	<%=f.label :enddate%>
  	<%=f.date_select :enddate%>
  </div>

  <div class="field">
  	<%=f.label :status%>
  	<% status = ['new','In progres','pending','canceled','completed'] %>
    <%= f.select :status,status.each_with_index.map {|name, index| [name,name]},{:prompt=>"select status"} %>
  </div>

  <div class="field">
  	<%=f.label :description%>
  	<%=f.text_area :description%>
  </div>

  <div class="field">
    <%=f.label :project%>
    <%=f.collection_select :project_id,Project.all,:id,:pname,{:prompt=>'choose project'}%>
  </div>

  <div class="field">
    <%=f.label :assign_to%>
    <%=f.collection_select :user_id,User.all,:id,:firstname,{:prompt=>'choose user'}%>
  </div>

  <div class="field">
    <%=f.label :entrydate%>
    <%=f.date_select :entry_date%>
  </div>

  <%=f.submit %>

<%end%>