


<%= form_for [@cur_proj,@task] do |f| %>
  
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%=f.label :name%>
  	<%=f.text_field :name,:class=>"form-control"%>
  </div>

  <div class="field">
  	<%=f.label :startdate%><br>
  	<%=f.date_select :startdate,{},:class=>"form-control"%>
  </div>

  <div class="field">
  	<%=f.label :enddate%><br>
  	<%=f.date_select :enddate,{},:class=>"form-control"%>
  </div>

  <div class="field">
  	<%=f.label :status%>
  	<% status = ['new','In progres','pending','canceled','completed'] %>
    <%= f.select :status,status.each_with_index.map {|name, index| [name,name]},{:prompt=>"select status"},:class=>"form-control" %>
  </div>

  <div class="field">
  	<%=f.label :description%>
  	<%=f.text_area :description,:class=>"form-control"%>
  </div>

  

  <div class="field">
    <%=f.label :assign_to%>
    <%=f.collection_select :user_id,assign_to_list,:id,:firstname,{:prompt=>'choose user'},:class=>"form-control"%>
  </div>

  
  <br><br>
  <%=f.submit :class=>"btn btn-primary" %>

<%end%>





<script type="text/javascript">
  $(document).ready(function(){
    // $('#task_startdate').datepicker();
    // $('#task_enddate').datepicker();
    // $('#entrydate').datepicker();

  });
</script>