

<div class="hstyle">Tasks</div>


<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
    </div>
</div>
<!-- <div id="myModal" class="modal fade" role="dialog"></div> -->

<div class="col-lg-8 col-lg-offset-2">

<table id="tasks" class="table table-bordered">
	<tbody>
	    <%@tasks.each do |t|%>		
		<tr data-link='<%=project_task_path(@cur_proj,t)%> '>
			<td><h5><span class="ttitle"><%=t.name%></span> | <i><%=t.description%></i></h5>
			startdate:<%=t.startdate%> | deadline:<%=t.enddate%>
			</td>
			<td>
				<% if can? :show, p%>
  					<%= link_to "view", [@cur_proj,t],remote: true %> <br>
				<% end %>
				<% if can? :edit, p%>
	  				    <%= link_to "edit", edit_project_task_path(@cur_proj,t) %><br> 
				<% end %>
				<% if can? :destroy, p%>
	  					 <%=link_to 'delete', [@cur_proj,t], method: :delete, data: { confirm: 'record will be deleted.Are you sure?' }%><br>
				<% end %>

			</td>
		</tr>
		<%end%>
	</tbody>
</table>
</div>



