<div class="hstyle">Task Details</div>


Task_id : <%=@task.id%><br>
task name: <%=@task.name%><br>
start date: <%=@task.startdate%><br>
end date: <%=@task.enddate%><br>
time_spent : <%=@task.time_spent%><br>
status : <%=@task.status%><br>
description:<%=@task.description%><br>
project id : <%=@task.project_id%><br>
user id : <%=@task.user_id%><br>
entry date : <%=@task.entry_date%><br>

<%=link_to 'back', project_tasks_path%>

