


<%= form_for(@project) do |f| %>
  
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  	<%=f.label :pname%>
  	<%=f.text_field :pname,:class=>"form-control"%>
  </div>

  <div class="field">
  	<%=f.label :startdate%><br>
  	<%=f.date_select :startdate,{},:class=>"form-control"%>

  </div>

  <div class="field">
  	<%=f.label :enddate%><br>
  	<%=f.date_select :enddate,{},:class=>"form-control"%>
  </div>

  <div class="field">
  	<%=f.label :duedate%><br>
  	<%=f.date_select :duedate,{},:class=>"form-control"%>
  </div>

  <div class="field">
    <%=f.label :status%>
    <% status = ['new','In progres','pending','canceled','completed'] %>
    <%= f.select :status,status.each_with_index.map {|name, index| [name,name]},{:prompt=>"select status",:selected=>"new"},:class=>"form-control" %>
  </div>

  <div class="field">
  	<%=f.label :description%>
  	<%=f.text_area :description,:class=>"form-control"%>
  </div>

  <%=f.submit :class=>"btn btn-primary btn-block"%>

<%end%>




<script type="text/javascript">
  $(document).ready(function(){

    
  });
</script>