

<div  class="hstyle">Project Overview</div>
<div class="dash">
<div class="row dash">
<div class="col-lg-8">
    
      	<div class="col-lg-6">
      		<div class="panel panel-default">
      	  	<div class="panel-heading">Your Total Projects</div>
      	  	<div class="panel-body">
      	  	<div class="h2 text-center"><%=@proj_count%></div>
              new : <%=@pro_new_count%>
              running : <%=@pro_running_count%>
              completed : <%=@pro_complete_count%>
      	  	</div>
      	    </div>
      	</div>
      	
</div>
</div>	

<div class="cur_proj_tle">
<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
Current Project :<%=@cur_proj.pname%>
</div>

	<div class="row">
    		<div class="col-lg-4">
    		<div class="panel panel-default">
    		 <div class="panel-heading">Issue tracking</div>
    		 <div class="panel-body">
    		 <ul>
    		 	<li>Bugs : <%=@issue_bug%></li>
    		 	<li>Features : <%=@issue_feature%></li>
    		 	<li>Support : <%=@issue_support%></li>
    		 </ul>
    		 </div>
    		</div>
    		</div>

        <div class="col-lg-4">
        <div class="panel panel-default">
        <div class="panel-heading">Team mates</div>
        <div class="panel-body">
        Manager : <%    
        # raise @pro_mgr.nil?.inspect  
        unless @pro_mgr.nil? %>
          <%if current_user.id==@pro_mgr.id%>
          <%=@pro_mgr.firstname + "| You"%>
          <%end%>
        <%end%>
        <br>
        other team members:
        <ul>
          <% @team_members.each do |tm|%>
            <li><%=tm.firstname%></li>
          <%end%>
          </ul>
        </div>
        </div>

        </div>

        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">Your Total Tasks</div>
            <div class="panel-body">
            <div class="h3 text-center"><%=@task_count%></div>
              new : <%=@task_new_count%>
              running : <%=@task_running_count%>
              completed : <%=@task_finish_count%> 
            </div>
            </div>
        </div>
</div> 








<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
	  	<div class="panel-heading">Your Tasks</div>
	  	<div class="panel-body">
	  		<ul class="nav nav-tabs">
	  		
			  <li class="active">
        <a id="task_all_bt" data-toggle="tab" href="#task_tb">All</a></li>
			  <li>
         <a id="task_imp_bt" data-toggle="tab" href="#task_tb">important</a>
        </li>
			  <li>
         <a id="task_com_bt" data-toggle="tab" href="#task_tb">Completed</a>
        </li>

			</ul>
            <div class=well>
            	<table id="task_tb" class="table table-hover fade in active">
               <thead>
            	  <tr>
            		<th>name</th>
            		<th>description</th>
            		<th>days remaining</th>
            	  </tr>
                </thead>
                <tbody>
            		<% @tasks.each do|t|%>
                    <tr>
                  <td><%=t.name%></td>
                  <td><%=t.description%></td>
                  <td><%=t.enddate%></td>
                  </tr>
                  <%end%>
            		
            		</tbody>
            		
            	
            	</table>

            </div>	
	  	</div>
	    </div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
	  	<div class="panel-heading">Issues</div>
	  	<div class="panel-body">
	  		<ul class="nav nav-tabs">
	  		
			  <li>
          <a id="issue_all_bt" data-toggle="tab" href="#issue_tb">All</a></li>
        <li>
          <a id="issue_imp_bt" data-toggle="tab" href="#issue_tb">Important</a></li>
        <li>
          <a id="issue_com_bt" data-toggle="tab" href="#issue_tb">Resolved</a></li>


			  

			</ul>
            <div class=well>
            	<table id="issue_tb" class="table table-hover fade in active">
            	<thead>
            		<th>title</th>
            		<th>description</th>
            		<th>severity</th>
            	</thead>
            	<tbody>
            		
            		<% @issues.each do|t|%>
            		    <tr>
            			<td><%=t.title%></td>
            			<td><%=t.description%></td>
            			<td><%=t.severity%></td>
            			</tr>
            		<%end%>
            		
            	</tbody>
            	</table>

            </div>	
	  	</div>
	    </div>
	</div>
</div>


</div>




<script>

function build_task_table(data){
   $('#task_tb tbody').html("");
        var $tbody = $('#task_tb tbody');
        $.each(data, function() {
          var $tr = $('<tr></tr>').appendTo($tbody);
          $('<td></td>').text(this.name).appendTo($tr);
          $('<td></td>').text(this.description).appendTo($tr);
          $('<td></td>').text(this.enddate).appendTo($tr);
        })  
}

function build_issue_table(data){
   $('#issue_tb tbody').html("");
        var $tbody = $('#issue_tb tbody');
        $.each(data, function() {
          var $tr = $('<tr></tr>').appendTo($tbody);
          $('<td></td>').text(this.title).appendTo($tr);
          $('<td></td>').text(this.description).appendTo($tr);
          $('<td></td>').text(this.severity).appendTo($tr);
        })  
}


$(document).ready(function(){
  $("#task_imp_bt").click(function(){
      $(this).addClass("active");
      $.get('<%=overview_filter_path%>'+"?task_query=imp",function(data){
        // alert(JSON.stringify(data));
         build_task_table(data);
           
    });

  });
   $("#task_com_bt").click(function(){
    
    
      $.get('<%=overview_filter_path%>'+"?task_query=com",function(data){
        // alert(JSON.stringify(data));
       build_task_table(data);
    });

  });
    $("#task_all_bt").click(function(){
     
      $.get('<%=overview_filter_path%>'+"?task_query=all",function(data){
        // alert(JSON.stringify(data));        
        build_task_table(data);
    });

  });




     $("#issue_imp_bt").click(function(){
      $.get('<%=overview_filter_path%>'+"?issue_query=imp",function(data){
        // alert(JSON.stringify(data));
         build_issue_table(data);
           
      });
      });
       $("#issue_all_bt").click(function(){
      $.get('<%=overview_filter_path%>'+"?issue_query=all",function(data){
        // alert(JSON.stringify(data));
         build_issue_table(data);
           
      });
      });

       $("#issue_com_bt").click(function(){
      $.get('<%=overview_filter_path%>'+"?issue_query=com",function(data){
        // alert(JSON.stringify(data));
         build_issue_table(data);
           
      });
      });




       $('#tasktab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      });
  
});


</script>