
<div class="hstyle">PROJECTS</div>
<table id="projects" border=2 class="ui celled table">
	<thead>
		<th>project_id</th>
		<th>name</th>
		<th>startdate</th>
		<th>enddate</th>
		<th>status</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @projects.each do |p| %>
			<tr>
			<td><%=p.id%></td>
			<td><%=p.pname%></td>
			<td><%=p.startdate%></td>
			<td><%=p.enddate%></td>
			<td><%=p.status%></td>
            <td>

			  <% if can? :show, p%>
  					<%= link_to "view", p %> &nbsp 
			<% end %>
			<% if can? :edit, p%>
  				    <%= link_to "edit", edit_project_path(p) %>&nbsp 
			<% end %>
			<% if can? :destroy, p%>
  					 <%=link_to 'delete', p, method: :delete, data: { confirm: 'record will be deleted.Are you sure?' }%>
			<% end %>
			</td>	
			</tr>
		<%end%>
	</tbody>
</table>


<br><br>

<% if can? :create, Project.new%>
  					<%= link_to "NEW PROJECT", new_project_path,:class=>"btn btn-default btn-success" %>
<%end%>





<script>
	$(document).ready(function(){
		 $("#projects").dataTable()
	});
</script>




