<h2>Projects#show</h2>


Project_id : <%=@project.id%><br>
Project_name : <%=@project.pname%><br>
start_date : <%=@project.startdate%><br>
end_date : <%=@project.enddate%><br>
due_date : <%=@project.duedate%><br>
status : <%=@project.status%><br>
description : <%=@project.description%><br>


<%=link_to 'back',projects_path%>