


<%= form_for(@permission) do |f| %>
  
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%=f.label :role_id%>
    <%=f.collection_select :role_id,Role.where.not(name:"admin"),:id,:name,{:prompt=>'choose role'},:class=>"form-control"%>
  </div>

  <div class="field">
    <%=f.label :modelname%>
    <% models=['all','project','task','issue','user','project user'] %>
    <%=f.select :modelname,models.map{|k,v| [k,k] },{:prompt=>'choose model'},:class=>"form-control"%>
  </div>


  <% view_val = @permission[:per_list].include?("show") unless @permission.nil?%>
  <% edit_val =  @permission[:per_list].include?("edit") unless @permission.nil?%>
  <% create_val =  @permission[:per_list].include?("create") unless @permission.nil?%>
  <% delete_val =  @permission[:per_list].include?("destroy") unless @permission.nil?%>
  

  <div class="checkbox">
    <label>
    <%=f.check_box :per_list,{multiple: true,:checked=>true},:show,nil %>show</label>
</div>
<div class="checkbox">
    <label>
    <%=f.check_box :per_list,{multiple: true,:checked=>edit_val},:edit,nil %>edit</label>
</div>
<div class="checkbox">
    <label>
   <%=f.check_box :per_list,{multiple: true,:checked=>create_val},:create,nil %>create</label>
</div>
<div class="checkbox">
    <label>
    <%=f.check_box :per_list,{multiple: true,:checked=>delete_val},:destroy,nil %>destroy</label>
</div>
 

  
  <%=f.submit :class=>"btn btn-primary"%>

<%end%>