<h1>Permissions#index</h1>

<table id="permissions" border=2 class="ui celled table">
	<thead>
		<th>roll_id</th>
		<th>modelname</th>
		<th>permissions</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @permissions.each do |p| %>
			<tr>
			<td><%=p.role_id%></td>
			<td><%=p.modelname%></td>
			<td><%=p.per_list%></td>
			<td>
			<% if can? :show, p%>
  					<%= link_to "view", p %> &nbsp 
			<% end %>
			<% if can? :edit, p%>
  				    <%= link_to "edit", edit_permission_path(p) %>&nbsp 
			<% end %>
			<% if can? :destroy, p%>
  					 <%=link_to 'delete', p, method: :delete, data: { confirm: 'record will be deleted.Are you sure?' }%>
			<% end %>

			</td>
			</tr>
		<%end%>
	</tbody>
</table>


<%= link_to "new_Permission", new_permission_path %>


<script>
	$(document).ready(function(){
		 $("#permissions").dataTable()
	});
</script>