

<div class="col-lg-4 col-lg-offset-4">

  <div class="text-center">
  <%=image_tag "promax-logo.png",:class=>"loglogo"%>
  </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => { :id => "login_form" }) do |f| %>

<div class="form-wrapper">
           <div class="h3 text-center">Log In</div> 
         <a href="#"><%= devise_error_messages! %></a>     
         <%- flash.each do |name, msg| -%>
         <% unless msg.include?("Signed out successfully") %>
         <%= content_tag :div, msg, :id => "flash_#{name}",class:"error_message" if msg.is_a?(String) %>
         <%end%>
         <%- end -%> 
         
         <%= f.email_field :email, autofocus: true,:class=>"myform-control",:placeholder=>"email address" %>
                
         <%= f.password_field :password, autocomplete: "off",:class=>"myform-control",:placeholder=>"password"%>
              

  <% if devise_mapping.rememberable? -%>

    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions loginbt">
    <%= f.submit "Log in",:class=>" btn-block myform-btn" %>
  </div>
  <br>
<% end %>



    <a href=<%=user_omniauth_authorize_path("facebook")%>><span class="btn btn-lg btn-facebook fa fa-facebook ffield"></span> </a>

    <a href=<%=user_omniauth_authorize_path("google_oauth2")%>>
    <span class="btn btn-lg btn-google fa fa-google lfield"></span></a>

<%= render "devise/shared/links" %>
</div>



</div>




<script type="text/javascript">
 
 $(document).ready(function () { 
 $("#login_form").validate({
    rules : {
      "user[email]": {
        required : true,
        email    : true
      },
      "user[password]":{
         required: true,
         minlength: 8,
         maxlength: 25
      }

    },
    messages:{
      "user[email]":{
        required: "please enter email Id",
        email: "invalid email id"
      },
      "user[password]": {
        required: "please enter password",
        minlength: "password must contain min 8 chars",
        maxlength: "password must contain max 25 chars"
      }

    }
 });
});
</script>
