
<div class="col-lg-4 col-lg-offset-4">  
<div class=" panel panel-primary">
<div class="panel-heading">Edit form</div>
<div class="panel-body">

<%= form_for @user,:html=>{:id=>"useredit_form"} do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ffield">
    <%= f.text_field :firstname, autofocus: true,:class=>"myform-control",:placeholder=>"firstname" %>
  </div>

  <div class="lfield">
    <%= f.text_field :lastname, autofocus: true,:class=>"myform-control",:placeholder=>"lastname" %>
  </div>

  <% if current_user.role.name!="admin"%>
  <div class="field">
   <%= f.collection_select :role_id,Role.where.not(name:"admin"),:id,:name,{:prompt=>"what type of user are you?"},:class=>"myform-control",:disabled=>true%>
  </div>
  <%end%>


  <div class="field">
    <%= f.text_field :phone, autofocus: true,:class=>"myform-control",:placeholder=>"phone" %>
  </div>

  <%if f.object.role.name.eql?("admin")%>
  <div class="field">
    <%= f.email_field :email, autofocus: true,:class=>"myform-control",:placeholder=>"email" %>
  </div>
  <%end%>

 

  <div class="field">
    <%= f.password_field :password,:class=>"myform-control",:placeholder=>"password" %>
  </div>
 <br>

  <div class="field">
    <%= f.submit "Update",:class=>"btn-block myform-btn" %>
  </div>
  
<% end %>



<%= link_to "Back", :back %>

</form>
</div>
</div>
</div>






<script type="text/javascript">
   
$(document).ready(function () {

$("#useredit_form").validate({
    rules : {
      "user[password]":{
         minlength: 8,
         maxlength: 25
      },
      
      "user[firstname]":{
         required: true,
         minlength: 3,
         maxlength: 20
      },
      "user[lastname]":{
        required: true,
         minlength: 3,
         maxlength: 20
      },
      "user[phone]":{
         required: true ,
         minlength: 7,
         maxlength: 11,
         digits:true
      }

    },
    messages:{
      "user[password]": {
        minlength: "password must contain min 8 chars",
        maxlength: "password must contain max 25 chars"
      },
  
      "user[firstname]":{
        required: "please enter firstname",
         minlength: "firstname must contain min 3 chars",
         maxlength: "firstname must contain max 20 chars"
      },
      "user[lastname]":{
        required: "please enter lastname",
         minlength: "lastname must contain min 3 chars",
         maxlength: "lastname must contain max 20 chars"
      },
      "user[phone]":{
         required: "please enter phoneno" ,
         minlength: "phoneno must contain min 7 chars",
         maxlength: "phoneno must contain max 11 chars",
         digits:"invalid phone number"
      }
      


    }
 });
});
</script>