

<h2>#users show</h2>

id : <%=@user.id%><br>
name : <%=@user.firstname%><%=@user.lastname%><br>
phone : <%=@user.phone%><br>
email : <%=@user.email%><br>
designation : <%=@user.designation%><br>

<%=link_to 'back',users_path%>