<h1>ProjectUsers#index</h1>


<table id="project_users" border=2 class="ui celled table">
	<thead>
		<th>project_id</th>
		<th>user_id</th>
		<th>role_id</th>
		<th>Actions</th>
		
	</thead>
	<tbody>
		<% @project_users.each do |p| %>
			<tr>
			<td><%=p[0]%></td>
			<td><%=p[1]%></td>
			<td><%=p[2]%></td>
			<td>

			<% if can? :view, p%>
  					<%= link_to "view",  project_user_path(p[3]) %> &nbsp 
			<% end %>
			<% if can? :edit, p%>
  				    <%= link_to "edit", edit_project_user_path(p[3]) %>&nbsp 
			<% end %>
			<% if can? :destroy, p%>
  					 <%=link_to 'delete', project_user_path(p[3]) , method: :delete, data: { confirm: 'record will be deleted.Are you sure?' }%>
			<% end %>


			

			</td>
			</tr>
		<%end%>
	</tbody>
</table>


<%= link_to "new record", new_project_user_path %>

<script>
	$(document).ready(function(){
		 $("#project_users").dataTable()
	});
</script>