<div class="hstyle">Project users</div>


<table id="project_users" border=2 class="ui celled table">
	<thead>
		<th>project</th>
		<th>user</th>
		<th>Actions</th>
		
	</thead>
	<tbody>
		<% @project_users.each do |p| %>
			<tr>
			<td><%=p[0]%></td>
			<td><%=p[1]%></td>
			<td>

			<% if can? :show, p%>
  					<%= link_to "view",  project_user_path(p[2]) %> &nbsp 
			<% end %>
			<% if can? :edit, p%>
  				    <%= link_to "edit", edit_project_user_path(p[2]) %>&nbsp 
			<% end %>
			<% if can? :destroy, p%>
  					 <%=link_to 'delete', project_user_path(p[2]) , method: :delete, data: { confirm: 'record will be deleted.Are you sure?' }%>
			<% end %>


			

			</td>
			</tr>
		<%end%>
	</tbody>
</table>

<% if can? :create, ProjectUser.new%>
<%= link_to "new record", new_project_user_path %>
<%end%>
<script>
	$(document).ready(function(){
		 $("#project_users").dataTable()
	});
</script>