<div class="hstyle">Project users</div>

<% if current_user.role.name=="admin"%>
<ul class="nav nav-pills"> 
    <li <%= request.fullpath == (project_project_users_path+"?view_flag=true")? "class=active": ""%>>
    <%=link_to "view_all",project_project_users_path+"?view_flag=true" %>
    </li>
    <li <%=(request.fullpath == project_project_users_path+"?view_flag=false" || request.fullpath==project_project_users_path)? "class=active": ""%>>
    <%=link_to "current_project",project_project_users_path+"?view_flag=false" %>
    </li>            
 </ul>
 <%end%>

<table id="project_users" border=2 class="table table-striped table-bordered">
	<thead>
	    <th></th>
		<th>project users</th>
		<th>Actions</th>
		
	</thead>
	<tbody>
		<% @project_users.each do |p| %>
			<tr>
			<td>
			
				 <% if User.find_by(id:p[3]).attachment.nil? %>
		        <%=image_tag("thumb_sm_default-profile.png",:class=>"img-circle")%>
		        <%else%>
		        <%=image_tag User.find_by(id:p[3]).attachment.file.url(:thumb_sm),:class=>"img-circle" unless User.find_by(id:p[3]).attachment.nil? %>
		        <%end%>
			</td>
			<td><%=p[0]%> | 
			<%=p[1]%></td>
			<td>
           
			<% if can? :show, p%>
  					<%= link_to "view",  project_project_user_path(@cur_proj,p[2]) %> &nbsp 
			<% end %>
			<% if can? :edit, p%>
  				    <%= link_to "edit", edit_project_project_user_path(@cur_proj,p[2]) %>&nbsp 
			<% end %>
			<% if can? :destroy, p%>
  					 <%=link_to 'delete', project_project_user_path(@cur_proj,p[2]) , method: :delete, data: { confirm: 'record will be deleted.Are you sure?' }%>
			<% end %>


			

			</td>
			</tr>
		<%end%>
	</tbody>
</table>

<% if can? :create, ProjectUser.new%>
<%= link_to "change/add employees ", new_project_project_user_path %>
<%end%>
<script>
	$(document).ready(function(){
		 $("#project_users").dataTable()
	});
</script>