<!DOCTYPE html>
<html>
<head>
  <title>Admin Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <%= csrf_meta_tags %>
</head>
<body>


 <nav id="mynav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/promax"><%=image_tag("Promax.png",:id=>"logo")%></a>
    </div>
    <ul class="nav navbar-nav">
      <li <%=request.path=="/promax"? "class=active": "" %>><a href="/promax">Home</a></li>
    
      <li <%=request.path=="/projects"? "class=active": "" %>><a href="/projects">projects</a></li>
      <li><a href="#">contact</a></li>
      
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        
        <%=form_tag("/projects", method: :get) do %>
         <input name="search_text" id="search_text" type="text" class="form-control" placeholder="Search" data-autocomplete="/promax/autocomplete_project_pname"></li>

         <li>

       <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
       <%end%>
     
      </li>
     
      <li><a>
        <%=current_user.firstname%> | <span style="color:orange">[<%=current_user.role.name%>]</span>
      </a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">
        <% if current_user.attachment.nil? %>
        <%=image_tag "/default/thumb_sm_default-profile.png",:class=>"img-circle"%>
        <%else%>
        <%=image_tag current_user.attachment.file.url(:thumb_sm),:class=>"img-circle"%>
        <%end%>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%=link_to "Profile",user_path(current_user.id)%></li>
          <li><%= link_to "Account settings",edit_user_path(current_user.id)%></li>
                  
          <li><%=link_to "logout",destroy_user_session_path,method: :delete%></li>
          
        </ul>
      </li>
      
     
    </ul>
  </div>
</nav>



<div id="wrapper" style="margin-top:50px;">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">

                <li class="sidebar-brand">
                    <a href="#">
                        PromAX
                    </a>
                </li>
                <li <%=request.path == '/'? "class=active": ""%>><a href="/dashboard">

                Dashboard
                <span class="glyphicon glyphicon-home"></span></a>
                </li>
                <li <%=request.path == '/projects'? "class=active": ""%>><a href="/projects">Projects

                <span class="glyphicon glyphicon-list-alt"></span>
                </a>  

                </li>
                
                <li <%=request.path == '/users'? "class=active": ""%>><a href="/users">Employees
                <span class="glyphicon glyphicon-user"></span>
                </a>
                </li>
                
                <li <%=request.path == '/permissions'? "class=active": ""%>><a href="/permissions">Permissions
                <span class="glyphicon glyphicon-lock"></span>
                </a></li>
                
                <li <%=request.path == '/attachments'? "class=active": ""%>><a href="/attachments">Attachments

                <span class="glyphicon glyphicon-paperclip "></span>

                </li>

                

                <li <%=request.path == '/roles'? "class=active": ""%>><a href="/roles">Manage Roles
                <span class="glyphicon glyphicon-wrench"></span>

                </a>
                </li>
               

                <% if user_signed_in? %>
                <li><%= link_to "Logout", destroy_user_session_path,method: :delete %>
                
                </li>
                <%end%>
            </ul>
        </div>

        





        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle view</a> -->

                        <%if notice or alert%>
                        <p class="notice"><%= notice %></p>
                        <p class="alert"><%= alert %></p>
                        <%end%>

                        <%= yield %>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>





</body>
</html>