<!DOCTYPE html>
<html>
<head>
  <title>Promax</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
   
   <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.semanticui.min.css"></head>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.semanticui.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
   
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Promax</a>
    </div>
    <ul class="nav navbar-nav">
      <li <%=request.path == '/'? "class=active": ""%>><a href="/">Dashboard</a></li>
      <li <%=request.path == '/projects'? "class=active": ""%>><a href="/projects">Projects</a></li>
       <li <%=request.path == '/project_users'? "class=active": ""%>><a href="/project_users">Project Assignment</a></li>
      <li <%=request.path == '/users'? "class=active": ""%>><a href="/users">Employees</a></li>
      <li <%=request.path == '/tasks'? "class=active": ""%>><a href="/tasks">Tasks</a></li>
      <li <%=request.path == '/permissions'? "class=active": ""%>><a href="/permissions">Permissions</a></li>
      <li <%=request.path == '/issues'? "class=active": ""%>><a href="/issues">Issues</a></li>
      <li <%=request.path == '/attachments'? "class=active": ""%>><a href="#">Attachments</a></li>
      <% if user_signed_in? %>
      <li><%= link_to "Logout", destroy_user_session_path,method: :delete %></li>
      <%end%>

    </ul>
    <% if user_signed_in? %>
    <div id=logdetails>Logged in as : <%=current_user.email%> | <%=current_user.designation%></div>
    <%end%>
  </div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
