<!DOCTYPE html>
<html>
<head>
  <title>User Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  

  
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="mynav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/promax"><%=image_tag("promax-logo",:id=>"logo")%></a>
    </div>
    <ul class="nav navbar-nav">
      <li <%=request.path=="/promax"? "class=active": "" %>><a href="/promax">Home</a></li>
    
      <li <%=request.path=="/projects"? "class=active": "" %>><a href="/projects">projects</a></li>
      <li><a href="#">contact</a></li>
      
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a>
        <%=current_user.firstname%> | <span style="color:orange">[<%=current_user.role.name%>]</span>
      </a></li>
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">
        <% if current_user.attachment.nil? %>
        <%= image_tag "thumb_sm_default-profile.png", class: "img-circle"%>
        <%else%>
        <%= image_tag current_user.attachment.file.url(:thumb_sm),class: "img-circle"%>
        <%end%>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%=link_to "Profile",user_path(current_user.id)%></li>
          <li><%= link_to "Account settings",edit_user_path(current_user.id)%></li>
                  
          <li><%=link_to "logout",destroy_user_session_path,method: :delete%></li>
          
        </ul>
      </li>
      
     
    </ul>
  </div>
</nav>




        <!-- Sidebar -->

        <%
           # raise action_name.inspect
           show_flag =false
          if controller.controller_name.eql?("projects") 
            if action_name.eql?("show") or action_name.eql?("overview")

              show_flag = true
            end  
          else
            unless params[:project_id].nil?
              show_flag = true  
            end
          end

        %>
        <%if show_flag %>
        <div id="wrapper">
        <div id="sidebar-wrapper" >
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <% if current_user.attachment.nil? %>
                        <%=image_tag("thumb_md_default-profile.png",:class=>"img-circle")%>
                        <%else%>
                        <%=image_tag current_user.attachment.file.url(:thumb_md),:class=>"img-rounded"%>
                        <%end%>
                    </a>
                </li>
                  <%  
                 if controller.controller_name.eql?("projects")
                    @proj = Project.find_by(id:params[:id])
                 else
                    @proj = Project.find_by(id:params[:project_id])
                 end    
                 %>
                <li <%=request.path == '/overview'? "class=active": ""%>>
                <%=link_to overview_path(@proj) do%>
                <span class="glyphicon glyphicon-home"></span>overview
                  <%end%>
                </li>

                <li <%=request.path == '/tasks'? "class=active": ""%>>
                <%=link_to project_tasks_path(@proj) do%>
                <span class="glyphicon glyphicon-check"></span>my Tasks
                  <%end%>
                </li>
                <li <%=request.path == '/issues'? "class=active": ""%>>
                <%=link_to project_issues_path(@proj) do%>
                <span class="glyphicon glyphicon-tasks"></span>issues
                  <%end%>
                </li>
                <li <%=request.path == '/attachments'? "class=active": ""%>>
                <%=link_to project_attachments_path(@proj) do%>
                     <span class="glyphicon glyphicon-paperclip"></span>Attachments
                  <%end%>
                </li>
                <li <%=request.path == (calendars_path(@proj))? "class=active": ""%>>
                  <%=link_to calendars_path(@proj) do%>
                    <span class="glyphicon glyphicon-calendar"></span>calendar
                  <%end%>
                </li>
                
                <% if user_signed_in? %>
                <li><%= link_to destroy_user_session_path,method: :delete  do %>
                <span class="glyphicon glyphicon-off"></span>Logout
                  <%end%>
                </li>
                <%end%>
                
            </ul>
        </div>
        <%end%>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <%if notice or alert%>
                        <p class="notice"><%= notice %></p>
                        <p class="alert"><%= alert %></p>
                        <%end%>
                        <%= yield %>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>





</body>
</html>